#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}


.ant-layout-header.site-layout-background {
  background: #fff;
}

#addButton {
  height: 250px;
  width: 100%;
}