#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}


.ant-layout-header.site-layout-background {
  background: #fff;
}

img {
  width: 100%;
}

.listSize {
  position: absolute;
  top: calc(100% - 75px);
  background: white;
  padding: 5px 25px;
  transition: 0.3s ease all;
  opacity: 0;
  width: 100%;
}

.listCover {
  position: relative;
}

.listCover:hover .listSize {
  opacity: 1;
}