form.login {
    margin-top: 1.5eM;
    box-shadow: 0 0 25px -10px #ddd;
    -moz-box-shadow: 0 0 25px -10px #ddd;
    -webkit-box-shadow: 0 0 25px -10px #ddd;
    padding: 3vh 2vw;
    background: white;
}